name: Python Tests

on:
  pull_request:
    branches: [main, master, dev]
  push:

jobs:
  tests:
    runs-on: ubuntu-latest

    environment:
      name: testing

    steps:
      # Get the files
      - uses: actions/checkout@v3

      # Python setup
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install poetry
        uses: abatilo/actions-poetry@v2.1.6
        with:
          poetry-version: 2.2.1

      - name: Install python dependencies
        run: |
          poetry install

      # Testing
      - name: Run Python tests
        run: |
          poetry run pytest -s
